name: "Demo Pipline"

on: [push]

jobs:
  Build:
    name: Build Job
    runs-on: ubuntu-latest
    steps:
      - run: echo "Build"
  Test:
    needs: Build
    name: Test Job
    runs-on: ubuntu-latest
    steps:
      - run: echo "Test"
  Deploy:
    needs:  [Build, Test]
    name: Deploy Job
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploy"

